/* ==========================================================================
TIPOGRAFIA
========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

a {
	color: #2BA1DC;
	text-decoration: none;
}

a:hover {
	color: #2E4D5C;
	text-decoration: underline;
	-webkit-transition:color 0.1s ease-in-out 0s,border 0.1s ease-in-out;
	-moz-transition:color 0.1s ease-in-out 0s,border 0.1s ease-in-out;
	transition:color 0.1s ease-in-out 0s,border 0.1s ease-in-out;
}

h1#logo {
	font-family: 'Bree Serif', serif;
	font-weight: normal;
	letter-spacing: -1px;
    font-size: 4em;
    text-align: left;
    line-height: 1em;
    color: #222;
}

p {
	font-size: 1.4em;
	line-height: 1.8em;
}


/* ==========================================================================
LAYOUT
========================================================================== */

body {
	background: #fff;
	border-top: 10px solid #f39354;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	-webkit-font-smoothing: antialiased;
}


#header {
	text-align: center;
	padding-top: 40px;
}


/* ==========================================================================
GRID 1200
========================================================================== */

.container-12 {
	margin:0 auto;
	width: 600px;
}
.grid-12 {
	display:inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.container-12 .grid-12 {
	width: 600px;
}

/* ==========================================================================
GRID 760
========================================================================== */
	
@media only screen and (max-width: 719px) {
.container-12 {
	width: 90%;
}
 .grid-12 {
	width:100%;
	margin-left: 0px;
	margin-right: 0px;
}

.container-12 .grid-12 {
	width: 100%;
}

h1 {
    font-size: 2.2em;
    margin: 0.83em 0;
    text-align: center;
    line-height: 1em;
    color: #222;
}

}

/* ==========================================================================
IMAGEM RESPONSIVA
========================================================================== */


img.scale, img.responsive {
	max-width: 100%;
	height: auto;
}



